.detail-wrapper {
  background-color: #fff;
  width: 80%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: zoom-in;
}
.detail-wrapper-info {
  width: 50%;
  margin: 2rem auto;
}
.detail-wrapper_img {
  margin-right: 2rem;
}
.detail_img {
  width: 100%;
  min-width: 20rem;
  max-width: 40rem;
}

.detail_title {
  font-weight: bold;
}
.buttons {
  margin: 3rem auto;
}
.amount {
  display: inline-block;
  margin: 0 1rem;
}
@media screen and (max-width: 80rem) {
  .detail-wrapper {
    display: block;
  }
  .detail-wrapper_info {
    display: block;
  }
  .detail-wrapper_all-info {
    padding: 2rem;
  }
}
