.item {
  position: relative;
}
.title {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: rgb(74, 74, 74);
}
.price {
  color: rgb(48, 56, 65);
  font-weight: bold;
  font-size: 1.2rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.img-wrapper {
  margin: 0 auto;
}

.card-image {
  width: 300px;
  height: 225px;
}
.cart {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border: none;
  background-color: transparent;
  color: rgb(14, 124, 176);
}
.cart:hover {
  transform: scale(1.5);
}
.link {
  text-decoration: none;
}
