.cart {
  width: 25rem;
  max-width: 20rem;
  color: white;
  background-color: rgb(69, 146, 182);
  border-radius: 0.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 6.3rem;
  z-index: 1000000;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 7rem;
}
