.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.2rem;
}

.badge {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #1d1d1d;
}
